html, body {
    max-width: auto; 
    overflow-x: hidden;
    font-family: 'Mirage';
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'Mirage';
	src: url('./mademirage.eot');
	font-weight: normal;
	font-style: normal; 
} 