.Main {
    display: flex;
    flex-direction: row;
    /* height: 75vh; */
    width: 100vw;
    justify-content: space-evenly;
    padding-top: 6rem;
    padding-bottom: 2rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #19171a;
}

img {
    height: 18vh;
    width: 16vw;
    /* padding-right: 7rem;
    padding-left: 9rem */
    padding: 6rem;
}

iframe {
    width: 50vw;
    height: 70vh;
    padding: 1rem
}

/* Media Queries */
@media screen and (min-width: 350px) and (max-width: 767px){
    .Main{
        flex-direction: column;
    }
    
    img{
        width: 50vw;
    }

    iframe{
        width: 100vw;
    }
}