nav {
    background-color:#d2d2d2;
    width:100vw;
    height: 8vh;
    /* padding: 0 0 0 4rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 4rem;
    height: 2rem;
    width: 11rem;
}

.ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    /* padding-right: 1rem; */
    margin: 0;
    width: 40%
}

a {
    font-size: 19px;
    padding-right: 4rem;
}

