.container {
    display: flex;
    width: 100vw;
    justify-content: center;
    /* padding-top: 1rem; */
}

h3 {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* p {
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
}
*/
.WWDMain {
    display: flex;
    flex-direction: column;
    /* height: 75vh; */
    width: 100vw;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
} 

.WWDI{
    height: 80vh;
    width: 70vw;
    padding: 0;
    margin-left: auto;
    margin-right: auto
}

.WWDH {
    width: 80vw;
    height: 10vh;
    padding: 1rem;
}