.container {
    display: flex;
    width: 100vw;
    justify-content: center;
    /* padding-top: 1rem; */
}

h3 {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* p {
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
}

.WWAMain {
    display: flex;
    flex-direction: column;
    width: 91vw;
    justify-content: center;
    background-color:#ffb733;
} */

.WWA{
    height: 75vh;
    width: 95vw
}

